body {
}
:root {
    --hrm-palette-black: #272c34;
    --hrm-palette-white: #FFFFFF;
    --hrm-palette-primary: #594AE2;
    --hrm-palette-primary-rgb: 89,74,226;
    --hrm-palette-primary-text: #FFFFFF;
    --hrm-palette-primary-darken: rgb(59,41,221);
    --hrm-palette-primary-lighten: rgb(119,107,231);
    --hrm-palette-primary-hover: rgba(89,74,226, 0.06);
    --hrm-palette-secondary: #FF4081;
    --hrm-palette-secondary-rgb: 255,64,129;
    --hrm-palette-secondary-text: #FFFFFF;
    --hrm-palette-secondary-darken: rgb(255,26,104);
    --hrm-palette-secondary-lighten: rgb(255,102,154);
    --hrm-palette-secondary-hover: rgba(255,64,129, 0.06);
    --hrm-palette-tertiary: #1EC8A5;
    --hrm-palette-tertiary-rgb: 30,200,165;
    --hrm-palette-tertiary-text: #FFFFFF;
    --hrm-palette-tertiary-darken: rgb(25,167,138);
    --hrm-palette-tertiary-lighten: rgb(45,223,187);
    --hrm-palette-tertiary-hover: rgba(30,200,165, 0.06);
    --hrm-palette-info: #2196F3;
    --hrm-palette-info-rgb: 33,150,243;
    --hrm-palette-info-text: #FFFFFF;
    --hrm-palette-info-darken: rgb(12,131,226);
    --hrm-palette-info-lighten: rgb(69,167,245);
    --hrm-palette-info-hover: rgba(33,150,243, 0.06);
    --hrm-palette-success: #00C853;
    --hrm-palette-success-rgb: 0,200,83;
    --hrm-palette-success-text: #FFFFFF;
    --hrm-palette-success-darken: rgb(0,162,67);
    --hrm-palette-success-lighten: rgb(0,238,99);
    --hrm-palette-success-hover: rgba(0,200,83, 0.06);
    --hrm-palette-warning: #FF9800;
    --hrm-palette-warning-rgb: 255,152,0;
    --hrm-palette-warning-text: #FFFFFF;
    --hrm-palette-warning-darken: rgb(217,129,0);
    --hrm-palette-warning-lighten: rgb(255,167,38);
    --hrm-palette-warning-hover: rgba(255,152,0, 0.06);
    --hrm-palette-error: #F44336;
    --hrm-palette-error-rgb: 244,67,54;
    --hrm-palette-error-text: #FFFFFF;
    --hrm-palette-error-darken: rgb(242,33,18);
    --hrm-palette-error-lighten: rgb(246,101,90);
    --hrm-palette-error-hover: rgba(244,67,54, 0.06);
    --hrm-palette-dark: #424242;
    --hrm-palette-dark-rgb: 66,66,66;
    --hrm-palette-dark-text: #FFFFFF;
    --hrm-palette-dark-darken: rgb(47,47,47);
    --hrm-palette-dark-lighten: rgb(85,85,85);
    --hrm-palette-dark-hover: rgba(66,66,66, 0.06);
    --hrm-palette-text-primary: #424242;
    --hrm-palette-text-secondary: rgba(0,0,0, 0.54);
    --hrm-palette-text-disabled: rgba(0,0,0, 0.38);
    --hrm-palette-action-default: rgba(0,0,0, 0.54);
    --hrm-palette-action-default-hover: rgba(0,0,0, 0.06);
    --hrm-palette-action-disabled: rgba(0,0,0, 0.26);
    --hrm-palette-action-disabled-background: rgba(0,0,0, 0.12);
    --hrm-palette-surface: #FFFFFF;
    --hrm-palette-background: #FFFFFF;
    --hrm-palette-background-grey: #F5F5F5;
    --hrm-palette-drawer-background: #FFFFFF;
    --hrm-palette-drawer-text: #424242;
    --hrm-palette-drawer-icon: #616161;
    --hrm-palette-appbar-background: #594AE2;
    --hrm-palette-appbar-text: #FFFFFF;
    --hrm-palette-lines-default: rgba(0,0,0, 0.12);
    --hrm-palette-lines-inputs: #BDBDBD;
    --hrm-palette-table-lines: rgba(224,224,224, 1);
    --hrm-palette-table-striped: rgba(0,0,0, 0.02);
    --hrm-palette-table-hover: rgba(0,0,0, 0.04);
    --hrm-palette-divider: #E0E0E0;
    --hrm-palette-divider-light: rgba(0,0,0, 0.8);
    --hrm-palette-grey-default: #9E9E9E;
    --hrm-palette-grey-light: #BDBDBD;
    --hrm-palette-grey-lighter: #E0E0E0;
    --hrm-palette-grey-dark: #757575;
    --hrm-palette-grey-darker: #616161;
    --hrm-palette-overlay-dark: rgba(33,33,33, 0.5);
    --hrm-palette-overlay-light: rgba(255,255,255, 0.5);
    --hrm-elevation-0: none;
    --hrm-elevation-1: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    --hrm-elevation-2: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    --hrm-elevation-3: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
    --hrm-elevation-4: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    --hrm-elevation-5: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 5px 8px 0px rgba(0,0,0,0.14),0px 1px 14px 0px rgba(0,0,0,0.12);
    --hrm-elevation-6: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12);
    --hrm-elevation-7: 0px 4px 5px -2px rgba(0,0,0,0.2),0px 7px 10px 1px rgba(0,0,0,0.14),0px 2px 16px 1px rgba(0,0,0,0.12);
    --hrm-elevation-8: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
    --hrm-elevation-9: 0px 5px 6px -3px rgba(0,0,0,0.2),0px 9px 12px 1px rgba(0,0,0,0.14),0px 3px 16px 2px rgba(0,0,0,0.12);
    --hrm-elevation-10: 0px 6px 6px -3px rgba(0,0,0,0.2),0px 10px 14px 1px rgba(0,0,0,0.14),0px 4px 18px 3px rgba(0,0,0,0.12);
    --hrm-elevation-11: 0px 6px 7px -4px rgba(0,0,0,0.2),0px 11px 15px 1px rgba(0,0,0,0.14),0px 4px 20px 3px rgba(0,0,0,0.12);
    --hrm-elevation-12: 0px 7px 8px -4px rgba(0,0,0,0.2),0px 12px 17px 2px rgba(0,0,0,0.14),0px 5px 22px 4px rgba(0,0,0,0.12);
    --hrm-elevation-13: 0px 7px 8px -4px rgba(0,0,0,0.2),0px 13px 19px 2px rgba(0,0,0,0.14),0px 5px 24px 4px rgba(0,0,0,0.12);
    --hrm-elevation-14: 0px 7px 9px -4px rgba(0,0,0,0.2),0px 14px 21px 2px rgba(0,0,0,0.14),0px 5px 26px 4px rgba(0,0,0,0.12);
    --hrm-elevation-15: 0px 8px 9px -5px rgba(0,0,0,0.2),0px 15px 22px 2px rgba(0,0,0,0.14),0px 6px 28px 5px rgba(0,0,0,0.12);
    --hrm-elevation-16: 0px 8px 10px -5px rgba(0,0,0,0.2),0px 16px 24px 2px rgba(0,0,0,0.14),0px 6px 30px 5px rgba(0,0,0,0.12);
    --hrm-elevation-17: 0px 8px 11px -5px rgba(0,0,0,0.2),0px 17px 26px 2px rgba(0,0,0,0.14),0px 6px 32px 5px rgba(0,0,0,0.12);
    --hrm-elevation-18: 0px 9px 11px -5px rgba(0,0,0,0.2),0px 18px 28px 2px rgba(0,0,0,0.14),0px 7px 34px 6px rgba(0,0,0,0.12);
    --hrm-elevation-19: 0px 9px 12px -6px rgba(0,0,0,0.2),0px 19px 29px 2px rgba(0,0,0,0.14),0px 7px 36px 6px rgba(0,0,0,0.12);
    --hrm-elevation-20: 0px 10px 13px -6px rgba(0,0,0,0.2),0px 20px 31px 3px rgba(0,0,0,0.14),0px 8px 38px 7px rgba(0,0,0,0.12);
    --hrm-elevation-21: 0px 10px 13px -6px rgba(0,0,0,0.2),0px 21px 33px 3px rgba(0,0,0,0.14),0px 8px 40px 7px rgba(0,0,0,0.12);
    --hrm-elevation-22: 0px 10px 14px -6px rgba(0,0,0,0.2),0px 22px 35px 3px rgba(0,0,0,0.14),0px 8px 42px 7px rgba(0,0,0,0.12);
    --hrm-elevation-23: 0px 11px 14px -7px rgba(0,0,0,0.2),0px 23px 36px 3px rgba(0,0,0,0.14),0px 9px 44px 8px rgba(0,0,0,0.12);
    --hrm-elevation-24: 0px 11px 15px -7px rgba(0,0,0,0.2),0px 24px 38px 3px rgba(0,0,0,0.14),0px 9px 46px 8px rgba(0,0,0,0.12);
    --hrm-elevation-25: 0 5px 5px -3px rgba(0,0,0,.06), 0 8px 10px 1px rgba(0,0,0,.042), 0 3px 14px 2px rgba(0,0,0,.036);
    --hrm-default-borderradius: 4px;
    --hrm-drawer-width-left: 240px;
    --hrm-drawer-width-right: 240px;
    --hrm-drawer-width-mini-left: 56px;
    --hrm-drawer-width-mini-right: 56px;
    --hrm-appbar-min-height: 64px;
    --hrm-typography-default-family: 'Roboto','Helvetica','Arial','sans-serif';
    --hrm-typography-default-size: .875rem;
    --hrm-typography-default-weight: 400;
    --hrm-typography-default-lineheight: 1.43;
    --hrm-typography-default-letterspacing: .01071em;
    --hrm-typography-h1-family: 'Roboto','Helvetica','Arial','sans-serif';
    --hrm-typography-h1-size: 6rem;
    --hrm-typography-h1-weight: 300;
    --hrm-typography-h1-lineheight: 1.167;
    --hrm-typography-h1-letterspacing: -.01562em;
    --hrm-typography-h2-family: 'Roboto','Helvetica','Arial','sans-serif';
    --hrm-typography-h2-size: 3.75rem;
    --hrm-typography-h2-weight: 300;
    --hrm-typography-h2-lineheight: 1.2;
    --hrm-typography-h2-letterspacing: -.00833em;
    --hrm-typography-h3-family: 'Roboto','Helvetica','Arial','sans-serif';
    --hrm-typography-h3-size: 3rem;
    --hrm-typography-h3-weight: 400;
    --hrm-typography-h3-lineheight: 1.167;
    --hrm-typography-h3-letterspacing: 0;
    --hrm-typography-h4-family: 'Roboto','Helvetica','Arial','sans-serif';
    --hrm-typography-h4-size: 2.125rem;
    --hrm-typography-h4-weight: 400;
    --hrm-typography-h4-lineheight: 1.235;
    --hrm-typography-h4-letterspacing: .00735em;
    --hrm-typography-h5-family: 'Roboto','Helvetica','Arial','sans-serif';
    --hrm-typography-h5-size: 1.5rem;
    --hrm-typography-h5-weight: 400;
    --hrm-typography-h5-lineheight: 1.334;
    --hrm-typography-h5-letterspacing: 0;
    --hrm-typography-h6-family: 'Roboto','Helvetica','Arial','sans-serif';
    --hrm-typography-h6-size: 1.25rem;
    --hrm-typography-h6-weight: 500;
    --hrm-typography-h6-lineheight: 1.6;
    --hrm-typography-h6-letterspacing: .0075em;
    --hrm-typography-subtitle1-family: 'Roboto','Helvetica','Arial','sans-serif';
    --hrm-typography-subtitle1-size: 1rem;
    --hrm-typography-subtitle1-weight: 400;
    --hrm-typography-subtitle1-lineheight: 1.75;
    --hrm-typography-subtitle1-letterspacing: .00938em;
    --hrm-typography-subtitle2-family: 'Roboto','Helvetica','Arial','sans-serif';
    --hrm-typography-subtitle2-size: .875rem;
    --hrm-typography-subtitle2-weight: 500;
    --hrm-typography-subtitle2-lineheight: 1.57;
    --hrm-typography-subtitle2-letterspacing: .00714em;
    --hrm-typography-body1-family: 'Roboto','Helvetica','Arial','sans-serif';
    --hrm-typography-body1-size: 1rem;
    --hrm-typography-body1-weight: 400;
    --hrm-typography-body1-lineheight: 1.5;
    --hrm-typography-body1-letterspacing: .00938em;
    --hrm-typography-body2-family: 'Roboto','Helvetica','Arial','sans-serif';
    --hrm-typography-body2-size: .875rem;
    --hrm-typography-body2-weight: 400;
    --hrm-typography-body2-lineheight: 1.43;
    --hrm-typography-body2-letterspacing: .01071em;
    --hrm-typography-button-family: 'Roboto','Helvetica','Arial','sans-serif';
    --hrm-typography-button-size: .875rem;
    --hrm-typography-button-weight: 500;
    --hrm-typography-button-lineheight: 1.75;
    --hrm-typography-button-letterspacing: .02857em;
    --hrm-typography-caption-family: 'Roboto','Helvetica','Arial','sans-serif';
    --hrm-typography-caption-size: .75rem;
    --hrm-typography-caption-weight: 400;
    --hrm-typography-caption-lineheight: 1.66;
    --hrm-typography-caption-letterspacing: .03333em;
    --hrm-typography-overline-family: 'Roboto','Helvetica','Arial','sans-serif';
    --hrm-typography-overline-size: .75rem;
    --hrm-typography-overline-weight: 400;
    --hrm-typography-overline-lineheight: 2.66;
    --hrm-typography-overline-letterspacing: .08333em;
    --hrm-zindex-drawer: 1100;
    --hrm-zindex-appbar: 1200;
    --hrm-zindex-dialog: 1300;
    --hrm-zindex-popover: 1400;
    --hrm-zindex-snackbar: 1500;
    --hrm-zindex-tooltip: 1600;
}

.mt-2, .my-2 {
    margin-top: 8px !important;
}

.mb-2, .my-2 {
    margin-bottom: 8px !important;
}

.hrm-icon-root {
    width: 1em;
    height: 1em;
    display: inline-block;
    transition: fill 200ms cubic-bezier(.4,0,.2,1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.hrm-width-full {
    width: 100%;
}

/*Button*/
.hrm-button-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.hrm-primary {
    background-color: var(--hrm-palette-primary) !important;
}

.hrm-primary-text {
    color: var(--hrm-palette-primary) !important;
}

.hrm-theme-primary {
    color: var(--hrm-palette-primary-text) !important;
    background-color: var(--hrm-palette-primary) !important;
}

.hrm-secondary {
    background-color: var(--hrm-palette-secondary) !important;
}

.hrm-secondary-text {
    color: var(--hrm-palette-secondary) !important;
}

.hrm-theme-secondary {
    color: var(--hrm-palette-secondary-text) !important;
    background-color: var(--hrm-palette-secondary) !important;
}

.hrm-tertiary {
    background-color: var(--hrm-palette-tertiary) !important;
}

.hrm-tertiary-text {
    color: var(--hrm-palette-tertiary) !important;
}

.hrm-theme-tertiary {
    color: var(--hrm-palette-tertiary-text) !important;
    background-color: var(--hrm-palette-tertiary) !important;
}

.hrm-info {
    background-color: var(--hrm-palette-info) !important;
}

.hrm-info-text {
    color: var(--hrm-palette-info) !important;
}

.hrm-theme-info {
    color: var(--hrm-palette-info-text) !important;
    background-color: var(--hrm-palette-info) !important;
}

.hrm-success {
    background-color: var(--hrm-palette-success) !important;
}

.hrm-success-text {
    color: var(--hrm-palette-success) !important;
}

.hrm-theme-success {
    color: var(--hrm-palette-success-text) !important;
    background-color: var(--hrm-palette-success) !important;
}

.hrm-warning {
    background-color: var(--hrm-palette-warning) !important;
}

.hrm-warning-text {
    color: var(--hrm-palette-warning) !important;
}

.hrm-theme-warning {
    color: var(--hrm-palette-warning-text) !important;
    background-color: var(--hrm-palette-warning) !important;
}

.hrm-error {
    background-color: var(--hrm-palette-error) !important;
}

.hrm-error-text {
    color: var(--hrm-palette-error) !important;
}

.hrm-theme-error {
    color: var(--hrm-palette-error-text) !important;
    background-color: var(--hrm-palette-error) !important;
}

.hrm-dark {
    background-color: var(--hrm-palette-dark) !important;
}

.hrm-dark-text {
    color: var(--hrm-palette-dark) !important;
}

.hrm-theme-dark {
    color: var(--hrm-palette-dark-text) !important;
    background-color: var(--hrm-palette-dark) !important;
}

.hrm-theme-transparent {
    color: inherit !important;
    background-color: transparent !important;
}

.hrm-transparent {
    background-color: transparent !important;
}

.hrm-transparent-text {
    color: transparent !important;
}

.hrm-text-primary {
    color: var(--hrm-palette-text-primary);
}

.hrm-text-secondary {
    color: var(--hrm-palette-text-secondary);
}

.hrm-text-disabled {
    color: var(--hrm-palette-text-disabled);
}

.white {
    background-color: #fff !important;
}

.white-text {
    color: #fff !important;
}

.black {
    background-color: #000 !important;
}

.black-text {
    color: #000 !important;
}

.hrm-typography {
    margin: 0;
}

.hrm-ripple {
    position: relative;
    overflow: hidden;
}
/*Button*/

.hrm-button-root::-moz-focus-inner {
    border-style: none;
}

.hrm-button-root:disabled {
    color: var(--hrm-palette-action-disabled) !important;
    cursor: default;
    pointer-events: none;
}
.hrm-button {
    padding: 6px 16px;
    font-family: var(--hrm-typography-button-family);
    font-size: var(--hrm-typography-button-size);
    font-weight: var(--hrm-typography-button-weight);
    line-height: var(--hrm-typography-button-lineheight);
    letter-spacing: var(--hrm-typography-button-letterspacing);
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(.4, 0, .2, 1) 0ms, box-shadow 250ms cubic-bezier(.4, 0, .2, 1) 0ms, border 250ms cubic-bezier(.4, 0, .2, 1) 0ms;
    border-radius: var(--hrm-default-borderradius);
    text-transform: uppercase;
    color: var(--hrm-palette-text-primary);
}

.hrm-button:hover {
    background-color: var(--hrm-palette-action-default-hover);
}

.hrm-button-filled {
    color: var(--hrm-palette-text-primary);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    background-color: var(--hrm-palette-action-default-hover);
}

.hrm-button-filled.hrm-icon-button {
    padding: 6px;
}

.hrm-button-filled:hover {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    background-color: var(--hrm-palette-action-disabled-background);
}

.hrm-button-filled:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.hrm-button-filled:disabled {
    color: var(--hrm-palette-action-disabled);
    box-shadow: none;
    background-color: var(--hrm-palette-action-disabled-background) !important;
}

.hrm-button-filled.hrm-button-filled-primary {
    color: var(--hrm-palette-primary-text);
    background-color: var(--hrm-palette-primary);
}

.hrm-button-filled.hrm-button-filled-primary:hover {
    background-color: var(--hrm-palette-primary-darken);
}

.hrm-button-filled.hrm-button-filled-secondary {
    color: var(--hrm-palette-secondary-text);
    background-color: var(--hrm-palette-secondary);
}

.hrm-button-filled.hrm-button-filled-secondary:hover {
    background-color: var(--hrm-palette-secondary-darken);
}

.hrm-button-filled.hrm-button-filled-tertiary {
    color: var(--hrm-palette-tertiary-text);
    background-color: var(--hrm-palette-tertiary);
}

.hrm-button-filled.hrm-button-filled-tertiary:hover {
    background-color: var(--hrm-palette-tertiary-darken);
}

.hrm-button-filled.hrm-button-filled-info {
    color: var(--hrm-palette-info-text);
    background-color: var(--hrm-palette-info);
}

.hrm-button-filled.hrm-button-filled-info:hover {
    background-color: var(--hrm-palette-info-darken);
}

.hrm-button-filled.hrm-button-filled-success {
    color: var(--hrm-palette-success-text);
    background-color: var(--hrm-palette-success);
}

.hrm-button-filled.hrm-button-filled-success:hover {
    background-color: var(--hrm-palette-success-darken);
}

.hrm-button-filled.hrm-button-filled-warning {
    color: var(--hrm-palette-warning-text);
    background-color: var(--hrm-palette-warning);
}

.hrm-button-filled.hrm-button-filled-warning:hover {
    background-color: var(--hrm-palette-warning-darken);
}

.hrm-button-filled.hrm-button-filled-error {
    color: var(--hrm-palette-error-text);
    background-color: var(--hrm-palette-error);
}

.hrm-button-filled.hrm-button-filled-error:hover {
    background-color: var(--hrm-palette-error-darken);
}

.hrm-button-filled.hrm-button-filled-dark {
    color: var(--hrm-palette-dark-text);
    background-color: var(--hrm-palette-dark);
}

.hrm-button-filled.hrm-button-filled-dark:hover {
    background-color: var(--hrm-palette-dark-darken);
}

.hrm-button-filled-size-small {
    padding: 4px 10px;
    font-size: .8125rem;
}

.hrm-button-filled-size-small.hrm-icon-button {
    padding: 5px;
}

.hrm-button-filled-size-large {
    padding: 8px 22px;
    font-size: .9375rem;
}

.hrm-button-filled-size-large.hrm-icon-button {
    padding: 5px;
}

.hrm-button-outlined {
    color: var(--hrm-palette-text-primary);
    border: 1px solid var(--hrm-palette-text-primary);
    padding: 5px 15px;
}

.hrm-button-outlined.hrm-button-outlined-inherit {
    color: inherit;
    border-color: currentColor;
}

.hrm-button-outlined.hrm-icon-button {
    padding: 5px;
}

.hrm-button-outlined:hover {
    background-color: var(--hrm-palette-action-default-hover);
}

.hrm-button-outlined.hrm-button-outlined-primary {
    color: var(--hrm-palette-primary);
    border: 1px solid var(--hrm-palette-primary);
}

.hrm-button-outlined.hrm-button-outlined-primary:hover {
    border: 1px solid var(--hrm-palette-primary);
    background-color: var(--hrm-palette-primary-hover);
}

.hrm-button-outlined.hrm-button-outlined-secondary {
    color: var(--hrm-palette-secondary);
    border: 1px solid var(--hrm-palette-secondary);
}

.hrm-button-outlined.hrm-button-outlined-secondary:hover {
    border: 1px solid var(--hrm-palette-secondary);
    background-color: var(--hrm-palette-secondary-hover);
}

.hrm-button-outlined.hrm-button-outlined-tertiary {
    color: var(--hrm-palette-tertiary);
    border: 1px solid var(--hrm-palette-tertiary);
}

.hrm-button-outlined.hrm-button-outlined-tertiary:hover {
    border: 1px solid var(--hrm-palette-tertiary);
    background-color: var(--hrm-palette-tertiary-hover);
}

.hrm-button-outlined.hrm-button-outlined-info {
    color: var(--hrm-palette-info);
    border: 1px solid var(--hrm-palette-info);
}

.hrm-button-outlined.hrm-button-outlined-info:hover {
    border: 1px solid var(--hrm-palette-info);
    background-color: var(--hrm-palette-info-hover);
}

.hrm-button-outlined.hrm-button-outlined-success {
    color: var(--hrm-palette-success);
    border: 1px solid var(--hrm-palette-success);
}

.hrm-button-outlined.hrm-button-outlined-success:hover {
    border: 1px solid var(--hrm-palette-success);
    background-color: var(--hrm-palette-success-hover);
}

.hrm-button-outlined.hrm-button-outlined-warning {
    color: var(--hrm-palette-warning);
    border: 1px solid var(--hrm-palette-warning);
}

.hrm-button-outlined.hrm-button-outlined-warning:hover {
    border: 1px solid var(--hrm-palette-warning);
    background-color: var(--hrm-palette-warning-hover);
}

.hrm-button-outlined.hrm-button-outlined-error {
    color: var(--hrm-palette-error);
    border: 1px solid var(--hrm-palette-error);
}

.hrm-button-outlined.hrm-button-outlined-error:hover {
    border: 1px solid var(--hrm-palette-error);
    background-color: var(--hrm-palette-error-hover);
}

.hrm-button-outlined.hrm-button-outlined-dark {
    color: var(--hrm-palette-dark);
    border: 1px solid var(--hrm-palette-dark);
}

.hrm-button-outlined.hrm-button-outlined-dark:hover {
    border: 1px solid var(--hrm-palette-dark);
    background-color: var(--hrm-palette-dark-hover);
}

.hrm-button-outlined:disabled {
    border: 1px solid var(--hrm-palette-action-disabled-background);
}

.hrm-button-outlined-size-small {
    padding: 3px 9px;
    font-size: .8125rem;
}

.hrm-button-outlined-size-small.hrm-icon-button {
    padding: 4px;
}

.hrm-button-outlined-size-large {
    padding: 7px 21px;
    font-size: .9375rem;
}

.hrm-button-outlined-size-large.hrm-icon-button {
    padding: 4px;
}

/*End Button*/

/*Link*/

.hrm-typography {
    margin: 0;
}

.hrm-typography-body2 {
    font-size: var(--hrm-typography-body2-size);
    font-family: var(--hrm-typography-body2-family);
    font-weight: var(--hrm-typography-body2-weight);
    line-height: var(--hrm-typography-body2-lineheight);
    letter-spacing: var(--hrm-typography-body2-letterspacing);
}

/*End Link*/

/*Icon*/

.hrm-icon-size-small {
    font-size: 1.25rem;
}

.hrm-icon-size-medium {
    font-size: 1.5rem;
}

.hrm-icon-size-large {
    font-size: 2.25rem;
}

/*End Icon*/

/*Collapse*/

.hrm-collapse-container {
    height: 0;
    overflow: hidden;
}

@keyframes hrm-expand-anim {
    from {
        height: 0;
    }
}

.hrm-collapse-entering {
    animation: hrm-expand-anim 1s ease-in-out 0ms 1 forwards;
}

.hrm-collapse-entering.hrm-navgroup-collapse {
    animation-duration: 300ms !important;
}

.hrm-collapse-entered {
    overflow: initial;
}

@keyframes hrm-collapse-anim {
    to {
        height: 0;
    }
}

/*End Collapse*/