
src/HRM/HRM.Application/obj/
src/HRM/HRM.Constant/obj/
src/HRM/HRM.Database/bin/
src/HRM/HRM.Database/obj/
src/HRM/HRM.Domain/obj/
src/HRM/HRM.Constant/bin/
src/HRM/HRM.Infrastructure/obj/
src/HRM/HRM.Infrastructure/bin/
src/HRM/HRM.Domain/bin/
src/HRM/HRM.Application/bin/
src/HRM/HRM.Api/bin/
src/HRM/HRM.Api/obj/
src/HRM/HRM.Model/bin/
src/HRM/HRM.Model/obj/
src/HRM/HRM.Client/bin/
src/HRM/HRM.Client/obj/
