<div class="row">
    <div class="col-md-4">
        <label>Điện thoại</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Số di động</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Email</label>
        <input class="form-control" />
    </div>
</div>
<Divider />
<h4>Liên kết mạng xã hội</h4>
<div class="row">
    <div class="col-md-4">
        <label>Skyper</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>WhatsApp</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Slack</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Zalo</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>LinkedIn</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Facebook</label>
        <input class="form-control" />
    </div>
</div>
<Divider />
<h4>Địa chỉ tạm trú</h4>
<div class="row">
    <div class="col-md-4">
        <label>Địa chỉ</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Tỉnh/Thành phố</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Email</label>
        <input class="form-control" />
    </div>
</div>
<Divider />
<h4>Địa chỉ thường trú</h4>
<div class="row">
    <div class="col-md-4">
        <label>Địa chỉ</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Tỉnh/Thành phố</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Email</label>
        <input class="form-control" />
    </div>
</div>
<Divider />
<h4>Thông tin liên hệ khẩn cấp</h4>
<div class="row">
    <div class="col-md-4">
        <label>Họ tên</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Điện thoai</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Email</label>
        <input class="form-control" />
    </div>
</div>