<div class="row">
    <div class="col-md-4">
        <label>Mã NV</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Họ tên</label>
        <input class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label>Văn phòng</label>
        <input class="form-control" value="Hồ chí minh" />
    </div>
    <div class="col-md-4">
        <label>Phòng ban</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Chức vụ</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Vị trí công việc</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Quản lý trực tiếp</label>
        <input class="form-control" value="Báo cáo trực tiếp cho ai" />
    </div>
    <div class="col-md-4">
        <label>Email</label>
        <input class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label>Điện thoại công việc</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Ext</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Số Fax</label>
        <input class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label>Trạng thái</label>
        <input class="form-control" value="Nhân viên toàn thời gian" />
    </div>
    <div class="col-md-4">
        <label>Ngày vào làm</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Ngày kết thúc hợp đồng</label>
        <input class="form-control" />
    </div>
</div>
<Divider />
<div class="row">
    <div class="col-md-4">
        <label>Mã vân tay</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Ngày cấp</label>
        <input class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label>Mã thẻ từ</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Ngày cấp thẻ</label>
        <input class="form-control" />
    </div>
</div>
@code {

}
