<div class="row">
    <div class="col-md-4">
        <label>Ngày sinh</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Giới tính</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Quốc tịch</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Dân tộc</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Tôn giáo</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Tình trạng hôn nhân</label>
        <input class="form-control" />
    </div>
</div>
<Divider />
<h4>Chứng minh nhân dân</h4>
<div class="row">
    <div class="col-md-4">
        <label>Số CMND/CCCD</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Ngày cấp</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Ngày hết hạn</label>
        <input class="form-control" />
    </div>
</div>
<Divider />
<h4>Hộ chiếu</h4>
<div class="row">
    <div class="col-md-4">
        <label>Số HC</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Ngày cấp</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Ngày hết hạn</label>
        <input class="form-control" />
    </div>
</div>
<Divider />
<h4>Bằng lái xe</h4>
<div class="row">
    <div class="col-md-4">
        <label>ID</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Ngày cấp</label>
        <input class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Ngày hết hạn</label>
        <input class="form-control" />
    </div>
</div>