@if (IsShow == true)
{
    <button type="button" class="btn btn-primary w-md m-b-5" onclick="@OnClick">@Text</button>
}


@code {

    [Parameter]
    public string Text { get; set; } = "Reset";

    [Parameter]
    public bool IsShow { get; set; } = true;

    [Parameter]
    public EventCallback OnClick { get; set; }

}
