@if (IsShow == true)
{
    <a class="btn btn-xs btn-info" onclick="@OnClick"><i class="fa fa-plus"></i></a>
}

@code {

    [Parameter]
    public bool IsShow { get; set; } = true;

    [Parameter]
    public EventCallback OnClick { get; set; }

}