<aside class="main-sidebar">
    <div class="sidebar" style="height: auto;">
        <div class="user-panel text-center">
            <div class="image">
                <img src="img/user/profile_img.png" class="img-circle" alt="User Image">
            </div>
            <div class="info">
                <p>jhon Anderson</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Admin</a>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li class="treeview ">
                <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/dashboard/home">
                    <i class="ti-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview ">
                <a href="javascript:void(0)">
                    <i class="ti-bag"></i> <span>Accounts</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="">
                        <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/show_tree">Chart of Account</a>
                    </li>
                    <li class="">
                        <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/balance_adjustment">Balance Adjustment</a>
                    </li>
                    <li class="">
                        <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/cash_adjustment">Cash Adjustment</a>
                    </li>
                    <li class="">
                        <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/bank_adjustment">Bank Adjustment</a>
                    </li>
                    <li class="">
                        <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/payment_type">Payment Type</a>
                    </li>
                    <li class="">
                        <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/debit_voucher">Debit Voucher</a>
                    </li>
                    <li class="">
                        <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/credit_voucher">Credit Voucher</a>
                    </li>
                    <li class="">
                        <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/contra_voucher">Contra Voucher</a>
                    </li>
                    <li class="">
                        <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/journal_voucher">Journal Voucher</a>
                    </li>
                    <li class="">
                        <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/aprove_v">Voucher Approval</a>
                    </li>
                    <li class="">
                        <a href="#">
                            Account Report <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu ">
                            <li class=""><a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/cash_book">Cash Book</a></li>
                            <li class=""><a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/bank_book">Bank Book</a></li>
                            <li class=""><a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/general_ledger">General Ledger</a></li>
                            <li class=""><a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/trial_balance">Trial Balance</a></li>
                            <li class=""><a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/profit_loss_report">Profit Loss</a></li>
                            <li class=""><a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/cash_flow_report">Cash Flow</a></li>
                            <li class=""><a href="https://newhrm.bdtask.com/hrm_v4.3_demo/accounts/accounts/coa_print">Coa Print</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview active">
                <a href="javascript:void(0)">
                    <i class="fa fa-diamond" aria-hidden="true"></i>
                    <span>Quản lý tài sản</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active">
                        <a href="#">Loại tài sản</a>
                    </li>
                    <li class="">
                        <a href="#">Danh sách</a>
                    </li>
                    <li class="">
                        <a href="#">Quản lý sử dụng</a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <span>Hoàn trả trang thiết bị</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu ">
                            <li class=""><a href="#">Trả</a></li>
                            <li class=""><a href="#">Danh sách trả</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview active">
                <a href="javascript:void(0)">
                    <i class="fa fa-diamond" aria-hidden="true"></i>
                    <span>Quản lý nhân sự</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active">
                        <a href="#">Danh sách kỷ luật</a>
                    </li>
                    <li class="">
                        <a href="#">Danh sách khen thưởng</a>
                    </li>
                    <li class="">
                        <a href="#">Quản lý sử dụng</a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <span>Hoàn trả trang thiết bị</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu ">
                            <li class=""><a href="#">Trả</a></li>
                            <li class=""><a href="#">Danh sách trả</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview active">
                <a href="javascript:void(0)">
                    <i class="fa fa-diamond" aria-hidden="true"></i>
                    <span>Tuyển dụng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active">
                        <a href="#">Danh sách tỉnh thành phố</a>
                    </li>
                    <li class="">
                        <a href="#">Danh sách khen thưởng</a>
                    </li>
                    <li class="">
                        <a href="#">Quản lý sử dụng</a>
                    </li>
                </ul>
            </li>
            <li class="treeview active">
                <a href="javascript:void(0)">
                    <i class="fa fa-diamond" aria-hidden="true"></i>
                    <span>Thông tin chung</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active">
                        <a href="#">Danh sách tỉnh thành phố</a>
                    </li>
                    <li class="">
                        <a href="#">Danh sách khen thưởng</a>
                    </li>
                    <li class="">
                        <a href="#">Quản lý sử dụng</a>
                    </li>
                </ul>
            </li>
            <li class="treeview ">
                <a href="javascript:void(0)">
                    <i class="fa fa-user"></i>
                    <span>Attendance</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="">
                        <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/attendance/Home/index">Attendance Form</a>
                    </li>
                    <li class="">
                        <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/attendance/Home/monthly_manual_attendance">Monthly Attendance</a>
                    </li>
                    <li class="">
                        <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/attendance/Home/missing_attendance">Missing Attendance</a>
                    </li>
                    <li class="">
                        <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/attendance/Home/att_log_report">Attendance Log</a>
                    </li>
                </ul>
            </li>
            @*@if (models != null)
        {
            foreach (var menu in models)
            {
                <HrmSidebarMenu Menu="menu" />
            }
        }*@
        </ul>
    </div>
</aside>

@code {

    private List<SidebarModel> models = new List<SidebarModel>();

    protected override void OnInitialized()
    {
        models.Add(
            new SidebarModel()
            {
                Id = "1",
                Title = "Menu 1",
                Href = "/counter",
                Icon = "",
                MenuItems = new List<SidebarModel>(),
            }
        );
        models.Add(
            new SidebarModel()
            {
                Id = "2",
                Title = "Menu 2",
                Href = "/counter",
                Icon = "",
                MenuItems = new List<SidebarModel>() {
                    new SidebarModel()
                    {
                        Id = "4",
                        Title = "Menu Sub 1 - 1",
                        Href = "/counter",
                        Icon = "",
                    },
                    new SidebarModel()
                    {
                        Id = "5",
                        Title = "Menu Sub1  - 2",
                        Href = "/counter",
                        Icon = "",
                    },
                    new SidebarModel()
                    {
                        Id = "6",
                        Title = "Menu Sub 1 - 2",
                        Href = "/counter",
                        Icon = "",
                    }
                    },
            }
        );
        models.Add(
            new SidebarModel()
            {
                Id = "3",
                Title = "Menu 3",
                Href = "/counter",
                Icon = "",
                MenuItems = new List<SidebarModel>() {
                    new SidebarModel()
                    {
                        Id = "7",
                        Title = "Menu Sub 3 - 1",
                        Href = "/counter",
                        Icon = "",
                    },
                    new SidebarModel()
                    {
                        Id = "8",
                        Title = "Menu Sub 3 - 2",
                        Href = "/counter",
                        Icon = "",
                    },
                    new SidebarModel()
                    {
                        Id = "9",
                        Title = "Menu Sub 3 - 2",
                        Href = "/counter",
                        Icon = "",
                    }
                    },
            }
        );
    }
}
