<div class="panel panel-bd">
    <div class="panel-heading">
        <div class="panel-title">
            @if (!string.IsNullOrEmpty(Title))
            {
                <h4>@Title</h4>
            }
            <div class="mr-25 panel-button-place">
                <button type="button" class="btn btn-primary btn-md" data-target="#add" data-toggle="modal" autocomplete="off">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Add New Award
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        @if (PanelContent == null)
        {
            <HRMLoadingContainer />
        }
        else
        {
            @PanelContent
        }
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment PanelContent { get; set; }

}
