@typeparam T
<li><a class="dropdown-item" href="javascript:{}" @onclick="() => OnClick.InvokeAsync(Data)">@Text</a></li>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public T Data { get; set; }

    [Parameter]
    public EventCallback<T> OnClick { get; set; }

}
