

@if (!string.IsNullOrEmpty(cssClass))
{
    <button type="button" class="hrm-button hrm-button-root @cssClass hrm-ripple" disabled="@Disable">
        <span class="hrm-button-label">@Text</span>
    </button>
}

@code {

    /// <summary>
    /// Default is filled
    /// </summary>
    [Parameter]
    public Variant Variant { get; set; } = Variant.Filled;

    [Parameter]
    public Color Color { get; set; } = Color.Default;

    [Parameter]
    public Size Size { get; set; } = Size.Medium;

    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public bool Disable { get; set; } = false;

    [Parameter]
    public bool FullWidth { get; set; } = false;

    private string cssClass = string.Empty;

    protected override void OnParametersSet()
    {
        string variantClass = string.Empty;
        string colorClass = string.Empty;
        string sizeClass = string.Empty;

        switch (Variant)
        {
            case Variant.Filled:
                variantClass = "hrm-button-filled";
                break;
            case Variant.Outlined:
                variantClass = "hrm-button-outlined";
                break;
            case Variant.Text:
                variantClass = "hrm-button-text";
                break;
        }

        switch (Color)
        {
            case Color.Default:
                colorClass = "default";
                break;
            case Color.Primary:
                colorClass = "primary";
                break;
            case Color.Secondary:
                colorClass = "secondary";
                break;
        }

        switch (Size)
        {
            case Size.Small:
                sizeClass = "small";
                break;
            case Size.Medium:
                sizeClass = "medium";
                break;
            case Size.Large:
                sizeClass = "large";
                break;
        }

        cssClass = $"{variantClass} {variantClass}-{colorClass} {variantClass}-size-{sizeClass} {(FullWidth ? "hrm-width-full" : "")}";
    }

}
