

@if (!string.IsNullOrEmpty(cssClass))
{
    <button type="@Type" 
            class="hrm-button hrm-button-root @cssClass hrm-ripple" 
            disabled="@Disable"
            @onclick="@(() => OnClick.InvokeAsync())">
        <span class="hrm-button-label">@Text</span>
    </button>
}

@code {

    /// <summary>
    /// Default is filled
    /// </summary>
    [Parameter]
    public Variant Variant { get; set; } = Variant.Filled;

    [Parameter]
    public Color Color { get; set; } = Color.Default;

    [Parameter]
    public Size Size { get; set; } = Size.Medium;

    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public bool Disable { get; set; } = false;

    [Parameter]
    public bool FullWidth { get; set; } = false;

    [Parameter]
    public string Type { get; set; } = "button";

    [Parameter]
    public EventCallback OnClick { get; set; }

    private string cssClass = string.Empty;

    protected override void OnParametersSet()
    {
        cssClass = $"{Variant.GetVariantClass()} {Variant.GetVariantClass()}-{Color.GetColorClass()} {Variant.GetVariantClass()}-size-{Size.GetSizeClass()} {FullWidth.GetFullWidthClass()}";
    }

}
