


.hrm-button-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.hrm-button-text {
    padding: 6px 8px;
}

    .hrm-button-text.hrm-button-text-inherit {
        color: inherit;
    }

    .hrm-button-text.hrm-button-text-primary {
        color: var(--hrm-palette-primary);
    }

        .hrm-button-text.hrm-button-text-primary:hover {
            background-color: var(--hrm-palette-primary-hover);
        }

    .hrm-button-text.hrm-button-text-secondary {
        color: var(--hrm-palette-secondary);
    }

        .hrm-button-text.hrm-button-text-secondary:hover {
            background-color: var(--hrm-palette-secondary-hover);
        }

    .hrm-button-text.hrm-button-text-tertiary {
        color: var(--hrm-palette-tertiary);
    }

        .hrm-button-text.hrm-button-text-tertiary:hover {
            background-color: var(--hrm-palette-tertiary-hover);
        }

    .hrm-button-text.hrm-button-text-info {
        color: var(--hrm-palette-info);
    }

        .hrm-button-text.hrm-button-text-info:hover {
            background-color: var(--hrm-palette-info-hover);
        }

    .hrm-button-text.hrm-button-text-success {
        color: var(--hrm-palette-success);
    }

        .hrm-button-text.hrm-button-text-success:hover {
            background-color: var(--hrm-palette-success-hover);
        }

    .hrm-button-text.hrm-button-text-warning {
        color: var(--hrm-palette-warning);
    }

        .hrm-button-text.hrm-button-text-warning:hover {
            background-color: var(--hrm-palette-warning-hover);
        }

    .hrm-button-text.hrm-button-text-error {
        color: var(--hrm-palette-error);
    }

        .hrm-button-text.hrm-button-text-error:hover {
            background-color: var(--hrm-palette-error-hover);
        }

    .hrm-button-text.hrm-button-text-dark {
        color: var(--hrm-palette-dark);
    }

        .hrm-button-text.hrm-button-text-dark:hover {
            background-color: var(--hrm-palette-dark-hover);
        }

.hrm-button-disable-elevation {
    box-shadow: none;
}

    .hrm-button-disable-elevation:hover {
        box-shadow: none;
    }

    .hrm-button-disable-elevation:active {
        box-shadow: none;
    }

    .hrm-button-disable-elevation.hrm-focus-visible {
        box-shadow: none;
    }

    .hrm-button-disable-elevation:disabled {
        box-shadow: none;
    }

.hrm-button-color-inherit {
    color: inherit;
    border-color: currentColor;
}

.hrm-button-text-size-small {
    padding: 4px 5px;
    font-size: .8125rem;
}

.hrm-button-text-size-large {
    padding: 8px 11px;
    font-size: .9375rem;
}

.hrm-button-full-width {
    width: 100%;
}

.hrm-button-label .hrm-button-icon-start {
    display: inherit;
    margin-left: -4px;
    margin-right: 8px;
    margin-inline-start: -4px;
    margin-inline-end: 8px;
}

    .hrm-button-label .hrm-button-icon-start.hrm-button-icon-size-small {
        margin-left: -2px;
        margin-inline-start: -2px;
        margin-inline-end: 8px;
    }

.hrm-button-label .hrm-button-icon-end {
    display: inherit;
    margin-left: 8px;
    margin-right: -4px;
    margin-inline-start: 8px;
    margin-inline-end: -4px;
}

    .hrm-button-label .hrm-button-icon-end.hrm-button-icon-size-small {
        margin-right: -2px;
        margin-inline-end: -2px;
        margin-inline-start: 8px;
    }

.hrm-button-icon-size-small > *:first-child {
    font-size: 18px;
}

.hrm-button-icon-size-medium > *:first-child {
    font-size: 20px;
}

.hrm-button-icon-size-large > *:first-child {
    font-size: 22px;
}

.hrm-button-group-root {
    border-radius: var(--hrm-default-borderradius);
    display: inline-flex;
}

    .hrm-button-group-root .hrm-button-root {
        border-radius: var(--hrm-default-borderradius);
    }

    .hrm-button-group-root.hrm-button-group-override-styles .hrm-button {
        color: var(--hrm-palette-text-primary);
    }

    .hrm-button-group-root.hrm-button-group-override-styles .hrm-button-root {
        background-color: inherit;
        box-shadow: none;
        border: none;
    }

        .hrm-button-group-root.hrm-button-group-override-styles .hrm-button-root:hover {
            background-color: var(--hrm-palette-action-default-hover);
        }

.hrm-button-group-horizontal:not(.hrm-button-group-rtl) > .hrm-button-root:not(:last-child),
.hrm-button-group-horizontal:not(.hrm-button-group-rtl) :not(:last-child) .hrm-button-root {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.hrm-button-group-horizontal:not(.hrm-button-group-rtl) > .hrm-button-root:not(:first-child),
.hrm-button-group-horizontal:not(.hrm-button-group-rtl) :not(:first-child) .hrm-button-root {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}

.hrm-button-group-horizontal.hrm-button-group-rtl > .hrm-button-root:not(:last-child),
.hrm-button-group-horizontal.hrm-button-group-rtl :not(:last-child) .hrm-button-root {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}

.hrm-button-group-horizontal.hrm-button-group-rtl > .hrm-button-root:not(:first-child),
.hrm-button-group-horizontal.hrm-button-group-rtl :not(:first-child) .hrm-button-root {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.hrm-button-group-vertical {
    flex-direction: column;
}

    .hrm-button-group-vertical .hrm-icon-button {
        width: 100%;
    }

    .hrm-button-group-vertical > .hrm-button-root:not(:last-child),
    .hrm-button-group-vertical :not(:last-child) .hrm-button-root {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .hrm-button-group-vertical > .hrm-button-root:not(:first-child),
    .hrm-button-group-vertical :not(:first-child) .hrm-button-root {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        margin-top: -1px;
    }

.hrm-button-group-text.hrm-button-group-override-styles .hrm-button-root {
    padding: 6px 8px;
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-horizontal:not(.hrm-button-group-rtl) .hrm-button-root:not(:first-child) {
    border-left: 1px solid var(--hrm-palette-text-primary);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-horizontal.hrm-button-group-rtl .hrm-button-root:not(:first-child) {
    border-right: 1px solid var(--hrm-palette-text-primary);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-vertical .hrm-button-root:not(:last-child) {
    border-bottom: 1px solid var(--hrm-palette-text-primary);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-primary .hrm-button-root {
    color: var(--hrm-palette-primary);
}

    .hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-primary .hrm-button-root:hover {
        background-color: var(--hrm-palette-primary-hover);
    }

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-primary.hrm-button-group-horizontal:not(.hrm-button-group-rtl) .hrm-button-root:not(:first-child) {
    border-left: 1px solid var(--hrm-palette-primary);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-primary.hrm-button-group-horizontal.hrm-button-group-rtl .hrm-button-root:not(:first-child) {
    border-right: 1px solid var(--hrm-palette-primary);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-primary.hrm-button-group-vertical .hrm-button-root:not(:last-child) {
    border-bottom: 1px solid var(--hrm-palette-primary);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-secondary .hrm-button-root {
    color: var(--hrm-palette-secondary);
}

    .hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-secondary .hrm-button-root:hover {
        background-color: var(--hrm-palette-secondary-hover);
    }

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-secondary.hrm-button-group-horizontal:not(.hrm-button-group-rtl) .hrm-button-root:not(:first-child) {
    border-left: 1px solid var(--hrm-palette-secondary);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-secondary.hrm-button-group-horizontal.hrm-button-group-rtl .hrm-button-root:not(:first-child) {
    border-right: 1px solid var(--hrm-palette-secondary);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-secondary.hrm-button-group-vertical .hrm-button-root:not(:last-child) {
    border-bottom: 1px solid var(--hrm-palette-secondary);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-tertiary .hrm-button-root {
    color: var(--hrm-palette-tertiary);
}

    .hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-tertiary .hrm-button-root:hover {
        background-color: var(--hrm-palette-tertiary-hover);
    }

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-tertiary.hrm-button-group-horizontal:not(.hrm-button-group-rtl) .hrm-button-root:not(:first-child) {
    border-left: 1px solid var(--hrm-palette-tertiary);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-tertiary.hrm-button-group-horizontal.hrm-button-group-rtl .hrm-button-root:not(:first-child) {
    border-right: 1px solid var(--hrm-palette-tertiary);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-tertiary.hrm-button-group-vertical .hrm-button-root:not(:last-child) {
    border-bottom: 1px solid var(--hrm-palette-tertiary);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-info .hrm-button-root {
    color: var(--hrm-palette-info);
}

    .hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-info .hrm-button-root:hover {
        background-color: var(--hrm-palette-info-hover);
    }

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-info.hrm-button-group-horizontal:not(.hrm-button-group-rtl) .hrm-button-root:not(:first-child) {
    border-left: 1px solid var(--hrm-palette-info);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-info.hrm-button-group-horizontal.hrm-button-group-rtl .hrm-button-root:not(:first-child) {
    border-right: 1px solid var(--hrm-palette-info);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-info.hrm-button-group-vertical .hrm-button-root:not(:last-child) {
    border-bottom: 1px solid var(--hrm-palette-info);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-success .hrm-button-root {
    color: var(--hrm-palette-success);
}

    .hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-success .hrm-button-root:hover {
        background-color: var(--hrm-palette-success-hover);
    }

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-success.hrm-button-group-horizontal:not(.hrm-button-group-rtl) .hrm-button-root:not(:first-child) {
    border-left: 1px solid var(--hrm-palette-success);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-success.hrm-button-group-horizontal.hrm-button-group-rtl .hrm-button-root:not(:first-child) {
    border-right: 1px solid var(--hrm-palette-success);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-success.hrm-button-group-vertical .hrm-button-root:not(:last-child) {
    border-bottom: 1px solid var(--hrm-palette-success);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-warning .hrm-button-root {
    color: var(--hrm-palette-warning);
}

    .hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-warning .hrm-button-root:hover {
        background-color: var(--hrm-palette-warning-hover);
    }

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-warning.hrm-button-group-horizontal:not(.hrm-button-group-rtl) .hrm-button-root:not(:first-child) {
    border-left: 1px solid var(--hrm-palette-warning);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-warning.hrm-button-group-horizontal.hrm-button-group-rtl .hrm-button-root:not(:first-child) {
    border-right: 1px solid var(--hrm-palette-warning);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-warning.hrm-button-group-vertical .hrm-button-root:not(:last-child) {
    border-bottom: 1px solid var(--hrm-palette-warning);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-error .hrm-button-root {
    color: var(--hrm-palette-error);
}

    .hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-error .hrm-button-root:hover {
        background-color: var(--hrm-palette-error-hover);
    }

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-error.hrm-button-group-horizontal:not(.hrm-button-group-rtl) .hrm-button-root:not(:first-child) {
    border-left: 1px solid var(--hrm-palette-error);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-error.hrm-button-group-horizontal.hrm-button-group-rtl .hrm-button-root:not(:first-child) {
    border-right: 1px solid var(--hrm-palette-error);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-error.hrm-button-group-vertical .hrm-button-root:not(:last-child) {
    border-bottom: 1px solid var(--hrm-palette-error);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-dark .hrm-button-root {
    color: var(--hrm-palette-dark);
}

    .hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-dark .hrm-button-root:hover {
        background-color: var(--hrm-palette-dark-hover);
    }

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-dark.hrm-button-group-horizontal:not(.hrm-button-group-rtl) .hrm-button-root:not(:first-child) {
    border-left: 1px solid var(--hrm-palette-dark);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-dark.hrm-button-group-horizontal.hrm-button-group-rtl .hrm-button-root:not(:first-child) {
    border-right: 1px solid var(--hrm-palette-dark);
}

.hrm-button-group-text.hrm-button-group-override-styles.hrm-button-group-text-dark.hrm-button-group-vertical .hrm-button-root:not(:last-child) {
    border-bottom: 1px solid var(--hrm-palette-dark);
}

.hrm-button-group-outlined.hrm-button-group-override-styles .hrm-button-root {
    padding: 5px 15px;
    border: 1px solid var(--hrm-palette-text-primary);
}

.hrm-button-group-outlined.hrm-button-group-override-styles.hrm-button-group-outlined-primary .hrm-button-root {
    color: var(--hrm-palette-primary);
    border: 1px solid var(--hrm-palette-primary);
}

    .hrm-button-group-outlined.hrm-button-group-override-styles.hrm-button-group-outlined-primary .hrm-button-root:hover {
        background-color: var(--hrm-palette-primary-hover);
    }

.hrm-button-group-outlined.hrm-button-group-override-styles.hrm-button-group-outlined-secondary .hrm-button-root {
    color: var(--hrm-palette-secondary);
    border: 1px solid var(--hrm-palette-secondary);
}

    .hrm-button-group-outlined.hrm-button-group-override-styles.hrm-button-group-outlined-secondary .hrm-button-root:hover {
        background-color: var(--hrm-palette-secondary-hover);
    }

.hrm-button-group-outlined.hrm-button-group-override-styles.hrm-button-group-outlined-tertiary .hrm-button-root {
    color: var(--hrm-palette-tertiary);
    border: 1px solid var(--hrm-palette-tertiary);
}

    .hrm-button-group-outlined.hrm-button-group-override-styles.hrm-button-group-outlined-tertiary .hrm-button-root:hover {
        background-color: var(--hrm-palette-tertiary-hover);
    }

.hrm-button-group-outlined.hrm-button-group-override-styles.hrm-button-group-outlined-info .hrm-button-root {
    color: var(--hrm-palette-info);
    border: 1px solid var(--hrm-palette-info);
}

    .hrm-button-group-outlined.hrm-button-group-override-styles.hrm-button-group-outlined-info .hrm-button-root:hover {
        background-color: var(--hrm-palette-info-hover);
    }

.hrm-button-group-outlined.hrm-button-group-override-styles.hrm-button-group-outlined-success .hrm-button-root {
    color: var(--hrm-palette-success);
    border: 1px solid var(--hrm-palette-success);
}

    .hrm-button-group-outlined.hrm-button-group-override-styles.hrm-button-group-outlined-success .hrm-button-root:hover {
        background-color: var(--hrm-palette-success-hover);
    }

.hrm-button-group-outlined.hrm-button-group-override-styles.hrm-button-group-outlined-warning .hrm-button-root {
    color: var(--hrm-palette-warning);
    border: 1px solid var(--hrm-palette-warning);
}

    .hrm-button-group-outlined.hrm-button-group-override-styles.hrm-button-group-outlined-warning .hrm-button-root:hover {
        background-color: var(--hrm-palette-warning-hover);
    }

.hrm-button-group-outlined.hrm-button-group-override-styles.hrm-button-group-outlined-error .hrm-button-root {
    color: var(--hrm-palette-error);
    border: 1px solid var(--hrm-palette-error);
}

    .hrm-button-group-outlined.hrm-button-group-override-styles.hrm-button-group-outlined-error .hrm-button-root:hover {
        background-color: var(--hrm-palette-error-hover);
    }

.hrm-button-group-outlined.hrm-button-group-override-styles.hrm-button-group-outlined-dark .hrm-button-root {
    color: var(--hrm-palette-dark);
    border: 1px solid var(--hrm-palette-dark);
}

    .hrm-button-group-outlined.hrm-button-group-override-styles.hrm-button-group-outlined-dark .hrm-button-root:hover {
        background-color: var(--hrm-palette-dark-hover);
    }

.hrm-button-group-filled {
    box-shadow: var(--hrm-elevation-2);
}

    .hrm-button-group-filled .hrm-button-root {
        box-shadow: none;
    }

        .hrm-button-group-filled .hrm-button-root:hover {
            box-shadow: var(--hrm-elevation-4);
        }

    .hrm-button-group-filled.hrm-button-group-override-styles .hrm-button-root {
        background-color: var(--hrm-palette-action-default-hover);
        padding: 6px 16px;
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-horizontal:not(.hrm-button-group-rtl) .hrm-button-root:not(:first-child) {
        border-left: 1px solid var(--hrm-palette-divider);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-horizontal.hrm-button-group-rtl .hrm-button-root:not(:first-child) {
        border-right: 1px solid var(--hrm-palette-divider);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-vertical .hrm-button-root:not(:first-child) {
        border-top: 1px solid var(--hrm-palette-divider);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-primary .hrm-button-root {
        background-color: var(--hrm-palette-primary);
        color: var(--hrm-palette-primary-text);
    }

        .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-primary .hrm-button-root:hover {
            background-color: var(--hrm-palette-primary-darken);
        }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-primary.hrm-button-group-horizontal:not(.hrm-button-group-rtl) .hrm-button-root:not(:first-child) {
        border-left: 1px solid var(--hrm-palette-primary-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-primary.hrm-button-group-horizontal.hrm-button-group-rtl .hrm-button-root:not(:first-child) {
        border-right: 1px solid var(--hrm-palette-primary-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-primary.hrm-button-group-vertical .hrm-button-root:not(:first-child) {
        border-top: 1px solid var(--hrm-palette-primary-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-secondary .hrm-button-root {
        background-color: var(--hrm-palette-secondary);
        color: var(--hrm-palette-secondary-text);
    }

        .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-secondary .hrm-button-root:hover {
            background-color: var(--hrm-palette-secondary-darken);
        }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-secondary.hrm-button-group-horizontal:not(.hrm-button-group-rtl) .hrm-button-root:not(:first-child) {
        border-left: 1px solid var(--hrm-palette-secondary-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-secondary.hrm-button-group-horizontal.hrm-button-group-rtl .hrm-button-root:not(:first-child) {
        border-right: 1px solid var(--hrm-palette-secondary-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-secondary.hrm-button-group-vertical .hrm-button-root:not(:first-child) {
        border-top: 1px solid var(--hrm-palette-secondary-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-tertiary .hrm-button-root {
        background-color: var(--hrm-palette-tertiary);
        color: var(--hrm-palette-tertiary-text);
    }

        .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-tertiary .hrm-button-root:hover {
            background-color: var(--hrm-palette-tertiary-darken);
        }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-tertiary.hrm-button-group-horizontal:not(.hrm-button-group-rtl) .hrm-button-root:not(:first-child) {
        border-left: 1px solid var(--hrm-palette-tertiary-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-tertiary.hrm-button-group-horizontal.hrm-button-group-rtl .hrm-button-root:not(:first-child) {
        border-right: 1px solid var(--hrm-palette-tertiary-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-tertiary.hrm-button-group-vertical .hrm-button-root:not(:first-child) {
        border-top: 1px solid var(--hrm-palette-tertiary-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-info .hrm-button-root {
        background-color: var(--hrm-palette-info);
        color: var(--hrm-palette-info-text);
    }

        .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-info .hrm-button-root:hover {
            background-color: var(--hrm-palette-info-darken);
        }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-info.hrm-button-group-horizontal:not(.hrm-button-group-rtl) .hrm-button-root:not(:first-child) {
        border-left: 1px solid var(--hrm-palette-info-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-info.hrm-button-group-horizontal.hrm-button-group-rtl .hrm-button-root:not(:first-child) {
        border-right: 1px solid var(--hrm-palette-info-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-info.hrm-button-group-vertical .hrm-button-root:not(:first-child) {
        border-top: 1px solid var(--hrm-palette-info-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-success .hrm-button-root {
        background-color: var(--hrm-palette-success);
        color: var(--hrm-palette-success-text);
    }

        .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-success .hrm-button-root:hover {
            background-color: var(--hrm-palette-success-darken);
        }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-success.hrm-button-group-horizontal:not(.hrm-button-group-rtl) .hrm-button-root:not(:first-child) {
        border-left: 1px solid var(--hrm-palette-success-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-success.hrm-button-group-horizontal.hrm-button-group-rtl .hrm-button-root:not(:first-child) {
        border-right: 1px solid var(--hrm-palette-success-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-success.hrm-button-group-vertical .hrm-button-root:not(:first-child) {
        border-top: 1px solid var(--hrm-palette-success-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-warning .hrm-button-root {
        background-color: var(--hrm-palette-warning);
        color: var(--hrm-palette-warning-text);
    }

        .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-warning .hrm-button-root:hover {
            background-color: var(--hrm-palette-warning-darken);
        }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-warning.hrm-button-group-horizontal:not(.hrm-button-group-rtl) .hrm-button-root:not(:first-child) {
        border-left: 1px solid var(--hrm-palette-warning-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-warning.hrm-button-group-horizontal.hrm-button-group-rtl .hrm-button-root:not(:first-child) {
        border-right: 1px solid var(--hrm-palette-warning-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-warning.hrm-button-group-vertical .hrm-button-root:not(:first-child) {
        border-top: 1px solid var(--hrm-palette-warning-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-error .hrm-button-root {
        background-color: var(--hrm-palette-error);
        color: var(--hrm-palette-error-text);
    }

        .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-error .hrm-button-root:hover {
            background-color: var(--hrm-palette-error-darken);
        }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-error.hrm-button-group-horizontal:not(.hrm-button-group-rtl) .hrm-button-root:not(:first-child) {
        border-left: 1px solid var(--hrm-palette-error-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-error.hrm-button-group-horizontal.hrm-button-group-rtl .hrm-button-root:not(:first-child) {
        border-right: 1px solid var(--hrm-palette-error-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-error.hrm-button-group-vertical .hrm-button-root:not(:first-child) {
        border-top: 1px solid var(--hrm-palette-error-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-dark .hrm-button-root {
        background-color: var(--hrm-palette-dark);
        color: var(--hrm-palette-dark-text);
    }

        .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-dark .hrm-button-root:hover {
            background-color: var(--hrm-palette-dark-darken);
        }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-dark.hrm-button-group-horizontal:not(.hrm-button-group-rtl) .hrm-button-root:not(:first-child) {
        border-left: 1px solid var(--hrm-palette-dark-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-dark.hrm-button-group-horizontal.hrm-button-group-rtl .hrm-button-root:not(:first-child) {
        border-right: 1px solid var(--hrm-palette-dark-lighten);
    }

    .hrm-button-group-filled.hrm-button-group-override-styles.hrm-button-group-filled-dark.hrm-button-group-vertical .hrm-button-root:not(:first-child) {
        border-top: 1px solid var(--hrm-palette-dark-lighten);
    }

.hrm-button-group-disable-elevation {
    box-shadow: none;
}

.hrm-button-group-root.hrm-button-group-text-size-small .hrm-button-root {
    padding: 4px 5px;
    font-size: .8125rem;
}

    .hrm-button-group-root.hrm-button-group-text-size-small .hrm-button-root.hrm-icon-button .hrm-icon-root {
        font-size: 1.422rem;
    }

.hrm-button-group-root.hrm-button-group-text-size-large .hrm-button-root {
    padding: 8px 11px;
    font-size: .9375rem;
}

    .hrm-button-group-root.hrm-button-group-text-size-large .hrm-button-root.hrm-icon-button .hrm-icon-root {
        font-size: 1.641rem;
    }

.hrm-button-group-root.hrm-button-group-outlined-size-small .hrm-button-root {
    padding: 3px 9px;
    font-size: .8125rem;
}

    .hrm-button-group-root.hrm-button-group-outlined-size-small .hrm-button-root.hrm-icon-button {
        padding: 3px 9px;
    }

        .hrm-button-group-root.hrm-button-group-outlined-size-small .hrm-button-root.hrm-icon-button .hrm-icon-root {
            font-size: 1.422rem;
        }

.hrm-button-group-root.hrm-button-group-outlined-size-large .hrm-button-root {
    padding: 7px 21px;
    font-size: .9375rem;
}

    .hrm-button-group-root.hrm-button-group-outlined-size-large .hrm-button-root.hrm-icon-button {
        padding: 7px 15px;
    }

        .hrm-button-group-root.hrm-button-group-outlined-size-large .hrm-button-root.hrm-icon-button .hrm-icon-root {
            font-size: 1.641rem;
        }

.hrm-button-group-root.hrm-button-group-filled-size-small .hrm-button-root {
    padding: 4px 10px;
    font-size: .8125rem;
}

    .hrm-button-group-root.hrm-button-group-filled-size-small .hrm-button-root.hrm-icon-button {
        padding: 4px 10px;
    }

        .hrm-button-group-root.hrm-button-group-filled-size-small .hrm-button-root.hrm-icon-button .hrm-icon-root {
            font-size: 1.422rem;
        }

.hrm-button-group-root.hrm-button-group-filled-size-large .hrm-button-root {
    padding: 8px 22px;
    font-size: .9375rem;
}

    .hrm-button-group-root.hrm-button-group-filled-size-large .hrm-button-root.hrm-icon-button {
        padding: 8px 16px;
    }

        .hrm-button-group-root.hrm-button-group-filled-size-large .hrm-button-root.hrm-icon-button .hrm-icon-root {
            font-size: 1.641rem;
        }

.hrm-button-group-root .hrm-button-root.hrm-icon-button.hrm-icon-button-color-primary {
    color: var(--hrm-palette-primary);
}

.hrm-button-group-root .hrm-button-root.hrm-icon-button.hrm-icon-button-color-secondary {
    color: var(--hrm-palette-secondary);
}

.hrm-button-group-root .hrm-button-root.hrm-icon-button.hrm-icon-button-color-tertiary {
    color: var(--hrm-palette-tertiary);
}

.hrm-button-group-root .hrm-button-root.hrm-icon-button.hrm-icon-button-color-info {
    color: var(--hrm-palette-info);
}

.hrm-button-group-root .hrm-button-root.hrm-icon-button.hrm-icon-button-color-success {
    color: var(--hrm-palette-success);
}

.hrm-button-group-root .hrm-button-root.hrm-icon-button.hrm-icon-button-color-warning {
    color: var(--hrm-palette-warning);
}

.hrm-button-group-root .hrm-button-root.hrm-icon-button.hrm-icon-button-color-error {
    color: var(--hrm-palette-error);
}

.hrm-button-group-root .hrm-button-root.hrm-icon-button.hrm-icon-button-color-dark {
    color: var(--hrm-palette-dark);
}

.hrm-button-group-root .hrm-button-root.hrm-icon-button {
    padding-right: 12px;
    padding-left: 12px;
}

    .hrm-button-group-root .hrm-button-root.hrm-icon-button .hrm-icon-root {
        font-size: 1.516rem;
    }

    .hrm-button-group-root .hrm-button-root.hrm-icon-button.hrm-ripple-icon:after {
        transform: scale(10, 10);
    }

    .hrm-button-group-root .hrm-button-root.hrm-icon-button.hrm-ripple-icon:active:after {
        transform: scale(0, 0);
        opacity: .1;
        transition: 0s;
    }
