<a href="@Href" target="@Target" class="hrm-typography hrm-link hrm-primary-text @cssClass hrm-typography-body2">Different Typography</a>

@code {

    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public UnderLine Underline { get; set; } = UnderLine.Hover;

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Target { get; set; } = "_blank";

    private string cssClass = string.Empty;

    protected override void OnParametersSet()
    {
        switch (Underline)
        {
            case UnderLine.None:
                cssClass = "hrm-link-underline-none";
                break;
            case UnderLine.Always:
                cssClass = "hrm-link-underline-always";
                break;
            case UnderLine.Hover:
                cssClass = "hrm-link-underline-hover";
                break;
        }
    }
}
