<div class="loader">
    <div class="row">
        <div class="col-md-4 col-sm-2">

        </div>
        <div class="col-md-4 col-sm-8 col-xs-12 mt-20">
            <HrmLinearLoading />
        </div>
        <div class="col-md-4 col-sm-2">

        </div>
    </div>
</div>
