

<div class="row">
    <div class="col-md-12 table-overflow">
        <table class="table table-bordered">
            <thead>
                @Header
            </thead>
            <tbody>
                @Body
            </tbody>
            @if (Footer != null)
            {
                <tfoot>
                    @Footer
                </tfoot>
            }

        </table>
    </div>
    <div class="col-md-12">
        <HrmTableNavigation TotalItems="TotalItems" Page="Page" OnPageChange="@PageChange" />
    </div>
</div>


@code {

    [Parameter]
    public int Column { get; set; }

    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Body { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }

    [Parameter]
    public long TotalItems { get; set; }

    [Parameter]
    public EventCallback<Page> OnPageChange { get; set; }

    [Parameter]
    public Page Page { get; set; } = new Page()
    {
        Index = 1,
        Size = 10
    };


    private async Task PageChange(Page page)
    {
        await OnPageChange.InvokeAsync(page);
    }

}
