
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast fade @(show ? "show" : "")" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">@TitleType.GetToastMessage()</strong>
            <small>@Time</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            @BodyType.GetToastMessage()
        </div>
    </div>
</div>

@code {

    [Parameter]
    public ToastMessageType TitleType { get; set; }

    [Parameter]
    public string Time { get; set; } = string.Empty;

    [Parameter]
    public ToastMessageType BodyType { get; set; }

    private bool show = false;

    public async Task Show()
    {
        show = true;
        StateHasChanged();
        await Task.Delay(3000);
        Hide();
    }
    public void Hide()
    {
        show = false;
        StateHasChanged();
    }

}
