
<td style="@TextAlign.GetTextAlignStyle()" colspan="@Col">@ChildContent</td>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public TextAlign TextAlign { get; set; }

    [Parameter]
    public int Col { get; set; } = 1;
}
