@page "/hr/certificated"

@inject IJSRuntime jsRuntume
@inject NavigationManager navigationManager
@inject ICertificatedService certificatedService

<HRMPanel Title="Danh sách chứng chỉ">
    <ButtonGroup>
        <HrmButton Color="@Constant.Enums.Color.Primary" Text="Thêm mới" OnClick="AddNew" />
    </ButtonGroup>
    <PanelContent>
        <HrmTable Column="6">
            <Header>
                <HrmTableTr>
                    <HrmTableTh Text="Tên loại chứng chỉ" Sort="true" style="min-width: 200px;" />
                    <HrmTableTh Text="" Sort="false" style="width: 100px;" />
                </HrmTableTr>
            </Header>
            <Body>
                @if (tableLoading == true)
                {
                    <HrmTableTr>
                        <HrmTableTd Col="2">
                            <LinearLoading />
                        </HrmTableTd>
                    </HrmTableTr>
                }
                else
                {
                    if (listData.Count() == 0)
                    {
                        <HrmTableNoData Column="2" />
                    }
                    else
                    {
                        foreach (var item in listData)
                        {
                            <HrmTableTr>
                                <HrmTableTd>
                                    @item.Name
                                </HrmTableTd>
                                <HrmTableTd TextAlign="@Constant.Enums.TextAlign.Center">
                                    <HrmButtonGroup Text="Chọn">
                                        <ActionItems>
                                            <HrmButtonGroupItem Text="Cập nhật" />
                                            <HrmDivider />
                                            <HrmButtonGroupItem text="Xóa" />
                                        </ActionItems>
                                    </HrmButtonGroup>
                                </HrmTableTd>
                            </HrmTableTr>
                        }
                    }
                }

            </Body>
        </HrmTable>
    </PanelContent>
</HRMPanel>

@code {

    private bool tableLoading = true;

    private IEnumerable<CertificatedGridModel> listData = new List<CertificatedGridModel>();

    private CertificatedGridParameterModel parameterModel = new CertificatedGridParameterModel();

    protected override async Task OnInitializedAsync()
    {
        var result = await certificatedService.GridAsync(parameterModel);
        if (result.Succeeded)
        {
            listData = result.Data.List;
        }
        tableLoading = false;
    }

    private void AddNew()
    {
        navigationManager.NavigateTo("hr/certificated/create");
    }

    private void Edit(long id)
    {
        navigationManager.NavigateTo($"hr/certificated/update/{id}");
    }

}
