@page "/hr/certificated"

@inject IJSRuntime jsRuntume

<HRMPanel Title="Danh sách chứng chỉ">
    <ButtonGroup>

    </ButtonGroup>
    <PanelContent>
        <HrmTable Column="6">
            <Header>
                <HrmTableTr>
                    <HrmTableTh Text="Tên loại chứng chỉ" Sort="true" />
                    <HrmTableTh Text="Thứ tự" Width="100px" Sort="true" />
                    <HrmTableTh Text="Hiển thị" Width="100px" Sort="false" />
                    <HrmTableTh Text="" Width="100px" Sort="false" />
                </HrmTableTr>
            </Header>
            <Body>
                <HrmTableTr>
                    <HrmTableTd>
                        Anh Van
                    </HrmTableTd>
                    <HrmTableTd TextAlign="@Constant.Enums.TextAlign.Right">
                        1
                    </HrmTableTd>
                    <HrmTableTd TextAlign="@Constant.Enums.TextAlign.Center">
                        <HrmSwitch Checked="true" />
                    </HrmTableTd>
                    <HrmTableTd TextAlign="@Constant.Enums.TextAlign.Center">
                        <HrmButtonGroup Text="Chọn">
                            <ActionItems>
                                <HrmButtonGroupItem Text="Cập nhật" />
                                <HrmDivider />
                                <HrmButtonGroupItem text="Xóa" />
                            </ActionItems>
                        </HrmButtonGroup>
                    </HrmTableTd>
                </HrmTableTr>
                <HrmTableNoData Column="4" />
            </Body>
        </HrmTable>
    </PanelContent>
</HRMPanel>

@code {
    protected override async Task OnInitializedAsync()
    {
        //await jsRuntume.InvokeAsync<object>("createJqueryDataTable", "#example");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntume.InvokeAsync<object>("createJqueryDataTable", "#example");
    }

}
