
<footer class="main-footer">
    <input type="hidden" name="" id="base_url" value="https://newhrm.bdtask.com/hrm_v4.3_demo/">
    <div class="pull-right hidden-xs">
        4 th Floor Mannan Plaza ,Khilkhet,Dhaka-1229
    </div>
    <strong>
        2020Â©Copyright
    </strong>
    <a href="https://newhrm.bdtask.com/hrm_v4.3_demo/asset/type_controller/type_form">
        HRM
    </a>
</footer>

@code {

}
