@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<br />
<HrmTable Column="6">
    <Header>
        <HrmTableTr>
            <HrmTableTh Text="Name" Row="2" />
            <HrmTableTh Text="Position" Row="2" />
            <HrmTableTh Text="Office" Row="2" Sort="true" />
            <HrmTableTh Text="Group column" Col="3" TextAlign="@Constant.Enums.TextAlign.Center" />
        </HrmTableTr>
        <HrmTableTr>
            <HrmTableTh Text="Age" />
            <HrmTableTh Text="Start date" />
            <HrmTableTh Text="Salary" />
        </HrmTableTr>
    </Header>
</HrmTable>
<SurveyPrompt Title="How is Blazor working for you?" />
