<div class="panel panel-bd">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="row form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 pt-6">
                    @if (!string.IsNullOrEmpty(Title))
                    {
                        <h4>@Title</h4>
                    }
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 panel-button-place">
                    @if (ButtonGroup != null)
                    {
                        @ButtonGroup
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        @if (PanelContent == null)
        {
            <LinearLoading />
        }
        else
        {
            @PanelContent
        }
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment PanelContent { get; set; }

    [Parameter]
    public RenderFragment ButtonGroup { get; set; }

}
