@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<HRMButtonSave OnClick="Click" IsShow="true"/>
<HRMButtonReset OnClick="Click" IsShow="true"/>
<HRMButtonIconEdit OnClick="Click"/>
<HRMButtonIconDelete OnClick="Click" />
<HRMButtonIconAdd OnClick="Click" />

<EditForm Model="model">
    <InputText @bind-Value="@model" class="form-control" />
</EditForm>


@code {

    string model = "1";

    private void Click()
    {
        Console.WriteLine("Click");
    }
}