@page "/"

<div class="row">
    <div class="col-md-12 col-sm-12">
        <h1>Hello, world!</h1>

        Welcome to your new app.
        <SurveyPrompt Title="How is Blazor working for you?" />

        <HRMButtonSave OnClick="Click" IsShow="true" IsSubmit="false" />
        <HRMButtonSave OnClick="Click" IsShow="true" IsSubmit="true" />
        <HRMButtonReset OnClick="Click" IsShow="true" />
        <br />
        <HRMButtonIconEdit OnClick="Click" />
        <HRMButtonIconDelete OnClick="Click" />
        <HRMButtonIconAdd OnClick="Click" />
        <br />
        <EditForm Model="model">
            <InputText @bind-Value="@model" class="form-control" />
        </EditForm>
        <br />
        <HRMPanel Title="Panel title" />
    </div>
</div>




@code {

    string model = "1";

    private void Click()
    {
        Console.WriteLine("Click");
    }
}